USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_GetCompraPorGuid]    Script Date: 07/10/2025 07:10:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_GetCompraPorGuid]
    @Guid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Retorna dados da compra
    SELECT 
        c.Id,
        c.MercadoId,
        c.Data,
        c.Status,
        c.Guid
    FROM Compra c inner join Mercado m
	on c.MercadoId = m.Id
    WHERE c.Guid = @Guid;

    -- Retorna os itens da compra
    SELECT 
        ic.Id,
        P.Nome,
        ic.CompraId,
        ic.ProdutoId,
        ic.Quantidade,
        ic.ValorUnitario,
        ic.Promocao,
        ic.ValorPromocional
    FROM ItemCarrinho ic
    INNER JOIN Compra c ON ic.CompraId = c.Id
    INNER JOIN Produtos P ON P.id =  ic.ProdutoId
    WHERE c.Guid = @Guid;
END;
