USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_AddProduto]    Script Date: 07/10/2025 07:07:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_AddProduto]
    @Codigo NVARCHAR(50),
    @Nome NVARCHAR(200),
    @CategoriaId INT,
    @Descricao NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Produtos (Codigo, Nome, CategoriaId, Descricao)
    VALUES (@Codigo, @Nome, @CategoriaId, @Descricao);

    SELECT SCOPE_IDENTITY() AS NewId;
END;
