USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_MercadoDelete]    Script Date: 07/10/2025 07:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_MercadoDelete]
    @Id INT
AS
BEGIN
    DELETE FROM Mercado WHERE Id = @Id;
END;

