USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_MercadoGetAll]    Script Date: 07/10/2025 07:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_MercadoGetAll]
AS
BEGIN
    SELECT Id, Nome, Endereco, Cidade, Estado, Cnpj, Telefone
    FROM Mercado;
END;


