USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_MercadoInsert]    Script Date: 07/10/2025 07:12:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_MercadoInsert]
    @Nome NVARCHAR(150),
    @Endereco NVARCHAR(255) = NULL,
    @Cidade NVARCHAR(100) = NULL,
    @Estado NVARCHAR(50) = NULL,
    @Cnpj NVARCHAR(20) = NULL,
    @Telefone NVARCHAR(20) = NULL
AS
BEGIN
    INSERT INTO Mercado (Nome, Endereco, Cidade, Estado, Cnpj, Telefone)
    VALUES (@Nome, @Endereco, @Cidade, @Estado, @Cnpj, @Telefone);

    SELECT SCOPE_IDENTITY() AS Id; -- retorna o ID inserido
END;
