USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_GetAllCategorias]    Script Date: 07/10/2025 07:09:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_GetAllCategorias]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT Id, Nome
    FROM Categorias
    ORDER BY Nome;
END;
