USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_CriarCompra]    Script Date: 07/10/2025 07:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[MB_CriarCompra]
    @MercadoId INT,
    @Data DATETIME,
    @Status INT,
	@Guid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Compra (MercadoId, Data, Status,Guid)
    VALUES (@MercadoId, @Data, @Status,@Guid);

END;
