USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_CategoriaGetById]    Script Date: 07/10/2025 07:09:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_CategoriaGetById]
    @Id INT
AS
BEGIN
    SELECT Id, Nome
    FROM Categoria
    WHERE Id = @Id;
END;
