USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_MercadoGetById]    Script Date: 07/10/2025 07:12:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_MercadoGetById]
    @Id INT
AS
BEGIN
    SELECT Id, Nome, Endereco, Cidade, Estado, Cnpj, Telefone
    FROM Mercado
    WHERE Id = @Id;
END;

