USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_ProdutoGetByCodigo]    Script Date: 07/10/2025 07:13:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     PROCEDURE [dbo].[MB_ProdutoGetByCodigo]
    @Codigo varchar(13)
AS
BEGIN
    SELECT Id,Codigo,Nome,CategoriaId,Descricao
    FROM Produtos
    WHERE Codigo = @Codigo
END;