USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_MercadoUpdate]    Script Date: 07/10/2025 07:13:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_MercadoUpdate]
    @Id INT,
    @Nome NVARCHAR(150),
    @Endereco NVARCHAR(255) = NULL,
    @Cidade NVARCHAR(100) = NULL,
    @Estado NVARCHAR(50) = NULL,
    @Cnpj NVARCHAR(20) = NULL,
    @Telefone NVARCHAR(20) = NULL
AS
BEGIN
    UPDATE Mercado
    SET Nome = @Nome,
        Endereco = @Endereco,
        Cidade = @Cidade,
        Estado = @Estado,
        Cnpj = @Cnpj,
        Telefone = @Telefone
    WHERE Id = @Id;
END;
