USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_GetCompraS]    Script Date: 07/10/2025 07:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_GetCompraS]   
AS
BEGIN
    SET NOCOUNT ON;
SELECT 
    c.Id            AS Id,
    c.Guid          AS Guid,
    c.MercadoId,
    c.Data          AS Data,
    c.Status,
    ic.Id           AS ItemId,
    ic.ProdutoId,
    p.Nome          AS NomeProduto,
    ic.Quantidade,
    ic.ValorUnitario,
    ic.Promocao,
    ic.ValorPromocional
FROM Compra c
LEFT JOIN ItemCarrinho ic ON ic.CompraId = c.Id
LEFT JOIN Produtos p ON p.Id = ic.ProdutoId
WHERE c.Status = 3;

END;
