USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_AtualizarStatusCompraPorGuid]    Script Date: 07/10/2025 07:08:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_AtualizarStatusCompraPorGuid]
    @Guid UNIQUEIDENTIFIER,
    @Status INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Compra
    SET Status = @Status
    WHERE Guid = @Guid;
END;
