USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_UpdateProduto]    Script Date: 07/10/2025 07:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_UpdateProduto]
    @Id INT,
    @Codigo NVARCHAR(50),
    @Nome NVARCHAR(200),
    @CategoriaId INT,
    @Descricao NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Produtos
    SET Codigo = @Codigo,
        Nome = @Nome,
        CategoriaId = @CategoriaId,
        Descricao = @Descricao
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
