USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_IncluirItemCarrinho]    Script Date: 07/10/2025 07:11:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[MB_IncluirItemCarrinho]
    @CompraId INT,
    @ProdutoId INT,
    @Quantidade DECIMAL(18,2),
	@Promocao bit,
    @ValorUnitario DECIMAL(18,2),
	@ValorPromocao DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO ItemCarrinho (CompraId, ProdutoId, Quantidade, ValorUnitario, Promocao , ValorPromocional)
    VALUES     (@CompraId, @ProdutoId, @Quantidade, @ValorUnitario, @Promocao,@ValorPromocao);
END;
