USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_GetProdutosPorCodigo]    Script Date: 07/10/2025 07:11:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[MB_GetProdutosPorCodigo]
    @Codigo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 20
        Id,
        Codigo,
        Nome,
        CategoriaId,
        Descricao
    FROM Produtos
    WHERE Codigo LIKE '%' + @Codigo + '%'      
    ORDER BY Nome;
END;
