USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_DeleteProduto]    Script Date: 07/10/2025 07:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_DeleteProduto]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Produtos
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS RowsAffected;
END;
