USE [MercadoBox]
GO
/****** Object:  StoredProcedure [dbo].[MB_GetAllProdutos]    Script Date: 07/10/2025 07:10:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[MB_GetAllProdutos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Id, Codigo, Nome, Descricao , CategoriaId
    FROM Produtos  
    ORDER BY Nome;
END;
